[general]
workflow_db = ~/.choppy/workflow.db
log_dir = ~/.choppy
log_level = DEBUG
app_dir = ~/.choppy

[local]
# localhost port
port = 8000

[remote]
port = 80
server = 0.0.0.0

[auth]
username = 
password = 

[email]
email_domain = 163.com
email_smtp_server = smtp.163.com
email_notification_account = yjcyxky
sender_user = 
sender_password =

[oss]
access_key = aliyun_access_key
access_secret = aliyun_access_secret
endpoint = oss-cn-shanghai-internal.aliyuncs.com

[repo]
base_url = http://choppy.3steps.cn/
username = 
password = 