include Makefile CHANGES.rst CONTRIBUTING.rst LICENSE AUTHORS config.py LICENSE.md

recursive-include choppy *
recursive-include choppy_api *

graft tests
graft docs
graft scripts
graft conda.recipe

global-exclude *.py[co] .DS_Store

prune docs/_build